{% extends "admin/change_form.html" %}
{% load i18n %}

{% block submit_buttons_top %}{% endblock %}

{# Remove a área de ações/botões da sidebar do Jazzmin #}
{% block submit_buttons_bottom %}{% endblock %}
{% block object-tools %}{% endblock %}
{% block object-tools-items %}{% endblock %}

{# Coloca apenas um botão Salvar no FINAL, dentro da coluna principal #}
{% block after_field_sets %}
  <div class="col-12 col-lg-9">
    <div class="submit-row oxira-submit-row">
      <input type="submit" value="{% translate 'Salvar' %}" class="btn btn-success btn-lg" name="_save">
    </div>
  </div>
{% endblock %}
